/* flexbox grid doesnt add margins, margin auto pushes everything in the container to the center*/

body{
    font-family:'Raleway',sans;
    font-size:17px;
    line-height:1.5em;
    margin:0;
    padding:30px 30px;
}
.container{
    margin:auto;
}

/* move image to the left side of the section,make it responsive by using percents*ors et to size of the container*/
img{
    width:100%;

}
/* # is used for ID elements, . for class elements,*/

#main-header{
    border-bottom:.5px solid white;   
}
#showcase img{
    width:100%;
    height:100%;
    
}
#showcase{
    background-color:#1c1c1c;

}

#navbar li{
    display:inline;
    padding-right:20px;
    list-style:none;
}
#navbar a{
    text-decoration:none;
    color:#b2986c;
}
#navbar li.current a, #navbar a:hover{
color:#b2986c;
border-bottom:3px solid white;
padding-bottom:3px;
}

#whoweare{
    background-color:#f3efe8; 
    padding-top:70px;
    padding-bottom:50px;
    
}
#whoweare p{
    color:#b2986c;
    margin-top:10px;
    font-stretch:semi-expanded;
    float:right;
    padding-left:50px;
}
#whoweare h2{
    font-size:50px;
    font-stretch:semi-expanded;
    font-style:initial;
    text-align:center;
    color:#b2986c;
    align-content:space-around;
    border-bottom: 1.5px solid;
    padding-bottom:40px;
    
}
#services{
    padding-top:30px;
    font-stretch:semi-expanded;
     padding-bottom:40px;
}
#services p{
    color:#b2986c;
    font-stretch:semi-expanded;
    
   
}
#services h2{
    font-size:60px;
    font-style:initial;
    text-align:center;
    color:#b2986c;
    border-bottom: 1.5px solid;
    padding-bottom:40px;
   
}
#services h4{
    font-style:bold;
    color:#b2986c;
    margin:0;
    padding:0;
}
#services li{
    list-style:none;
    color:#b2986c;  
    margin:0px;
}

#services .btn{
 border: 1px solid black;
  background-color: white;
  color: black;
  padding: 12px 25px;
  font-size: 14px;
  cursor: pointer;   
  text-decoration:none;
}
 #services .btn:hover{
  background:#b2986c;
  color: white;
  transition:0.5s;
 }
     #BGKids{
        background-color:#f3efe8; 
        padding-top:70px;
        padding-bottom:50px;
     }

#BGKids p{
    color:#b2986c;
    margin-top:10px;
    font-stretch:semi-expanded;
    padding-left:50px;
}

#BGKids h2{
    font-size:50px;
    font-stretch:semi-expanded;
    font-style:initial;
    text-align:center;
    color:#b2986c;
    align-content:space-around;
    border-bottom: 1.5px solid;
    padding-bottom:40px;
} 
#BGKids .img{
    float:right;
    display:right
}
#MakeAnAppointment{
    background-color:#b2986c; 
    padding-top:70px;
    padding-bottom:50px;
}
#MakeAnAppointment p{
    color:white;
    margin-top:10px;
    font-stretch:semi-expanded;
    padding-left:50px;
    font-size:16px;
  
}
#MakeAnAppointment h2{
    font-size:30px;
    font-style:initial;
    text-align:center;
    color:white;
    border-bottom: 1.5px solid;
    padding-bottom:40px;
    
}
#MakeAnAppointment h5{
    font-size:15px;
    color:white;
    text-align:left;
    padding-left:50px;
}
#map{
    height:300px;
    width:100%;
}